<!DOCTYPE html>
<html>
<head><title>alexis j : : liens</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link rel="alternate" type="application/rss+xml" href="http://liens.effingo.be/?do=rss" title="RSS Feed" />
<link rel="alternate" type="application/atom+xml" href="http://liens.effingo.be/?do=atom" title="ATOM Feed" />
<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link type="text/css" rel="stylesheet" href="inc/shaarli.css?version=0.0.41+beta" />

<script src="inc/jquery.min.js"></script><script src="inc/jquery-ui.min.js"></script>
</head>
<body>
<div id="pageheader">
	
    <div id="logo" title="Share your links !" onclick="document.location='?';"></div>
    <div id="topcount" class="nomobile">Shaare your links...<br>
        4119 links</div>
    <span id="shaarli_title"><a href="?">alexis j : : liens</a></span>
  

    <a href="?" class="nomobile">Home</a>
    
        <a href="?do=login">Login</a>
    
    <a href="http://liens.effingo.be/?do=rss" class="nomobile">RSS Feed</a>
    <a href="http://liens.effingo.be/?do=atom" style="padding-left:10px;" class="nomobile">ATOM Feed</a>
    <a href="?do=tagcloud">Tag cloud</a>
    <a href="?do=picwall">Picture wall</a>
    <a href="?do=daily">Daily</a>

    <div class="clear"></div>



	<div id="headerform" style="width:100%; white-space:nowrap;">
	    <form method="GET" class="searchform" name="searchform" style="display:inline;"><input type="text" id="searchform_value" name="searchterm" style="width:30%" value=""> <input type="submit" value="Search" class="bigbutton"></form>
	    <form method="GET" class="tagfilter" name="tagfilter" style="display:inline;margin-left:24px;"><input type="text" name="searchtags" id="tagfilter_value" style="width:10%" value=""> <input type="submit" value="Filter by tag" class="bigbutton"></form>
	</div>
</div>

<div id="linklist">

    <div class="paging">

    <div id="paging_linksperpage">
        Links per page: <a href="?linksperpage=20">20</a> <a href="?linksperpage=50">50</a> <a href="?linksperpage=100">100</a>
        <form method="GET" style="display:inline;" class="linksperpage"><input type="text" name="linksperpage" size="2" style="height:15px;"></form>
    </div>
     <a href="?page=2" id="paging_older">&#x25C4;Older</a> 
    <div id="paging_current">page 1 / 206 </div>
    
</div>

    
        
        
    
    <ul>
        
        <li class="publicLinkHightLight">
            <a name="_HgUaA" id="_HgUaA"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://transports.blog.lemonde.fr/2013/06/16/le-lobby-europeen-du-velo-montre-ses-muscles/">Le lobby européen du vélo montre ses muscles | L'interconnexion n'est plus assurée</a></span>
                <br>
                
                
                    <span class="linkdate" title="Short link here"><a href="?_HgUaA">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3F_HgUaA&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://transports.blog.lemonde.fr/2013/06/16/le-lobby-europeen-du-velo-montre-ses-muscles/</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=europe">europe</a></span> <span class="linktag" title="Add tag"><a href="?addtag=lobby">lobby</a></span> <span class="linktag" title="Add tag"><a href="?addtag=manifestation">manifestation</a></span> <span class="linktag" title="Add tag"><a href="?addtag=v%C3%A9lo">vélo</a></span> <span class="linktag" title="Add tag"><a href="?addtag=%C3%A9v%C3%A9nement">événement</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li>
            <a name="_lPMxA" id="_lPMxA"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://www.mondequibouge.be/index.php/2013/06/fontaines-deau-potable-bruxelles/">Une nouvelle carte des fontaines d’eau potable à Bruxelles « Monde qui bouge</a></span>
                <br>
                
                
                    <span class="linkdate" title="Short link here"><a href="?_lPMxA">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3F_lPMxA&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://www.mondequibouge.be/index.php/2013/06/fontaines-deau-potable-bruxelles/</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=bruxelles">bruxelles</a></span> <span class="linktag" title="Add tag"><a href="?addtag=eau">eau</a></span> <span class="linktag" title="Add tag"><a href="?addtag=fontaine">fontaine</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li class="publicLinkHightLight">
            <a name="-3HKGw" id="-3HKGw"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://www.paperblog.fr/6474288/un-petit-commerce-lucratif-349-velos-voles-vendus-sur-la-toile-en-deux-mois/">Un petit commerce lucratif : 349 vélos volés vendus sur la toile en deux mois… - Paperblog</a></span>
                <br>
                <div class="linkdescription">La brigade des enquêtes d’initiatives (BEI) du 12e était destinataire d’une demande d’enquête par le ministère de l’Intérieur à la suite d’un mail d’un particulier dénonçant la vente de son vélo volé sur un site de vente en ligne, le lendemain des faits, le 21 avril 2013.</div>
                
                    <span class="linkdate" title="Short link here"><a href="?-3HKGw">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3F-3HKGw&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://www.paperblog.fr/6474288/un-petit-commerce-lucratif-349-velos-voles-vendus-sur-la-toile-en-deux-mois/</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=police">police</a></span> <span class="linktag" title="Add tag"><a href="?addtag=vol">vol</a></span> <span class="linktag" title="Add tag"><a href="?addtag=v%C3%A9lo">vélo</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li>
            <a name="I9wCBQ" id="I9wCBQ"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://www.lejim.info/spip/spip.php?article361">Facebook : la Stasi qui exploite un milliard de mouchards - Journal Indépendant et Militant</a></span>
                <br>
                
                
                    <span class="linkdate" title="Short link here"><a href="?I9wCBQ">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3FI9wCBQ&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://www.lejim.info/spip/spip.php?article361</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=facebook">facebook</a></span> <span class="linktag" title="Add tag"><a href="?addtag=stasi">stasi</a></span> <span class="linktag" title="Add tag"><a href="?addtag=viepriv%C3%A9e">vieprivée</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li class="publicLinkHightLight">
            <a name="1zp1hQ" id="1zp1hQ"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://geeko.lesoir.be/2013/06/15/chez-les-robots-humains-damazon/">Chez les robots humains d’Amazon | Geeko</a></span>
                <br>
                
                
                    <span class="linkdate" title="Short link here"><a href="?1zp1hQ">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3F1zp1hQ&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://geeko.lesoir.be/2013/06/15/chez-les-robots-humains-damazon/</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=amazon">amazon</a></span> <span class="linktag" title="Add tag"><a href="?addtag=production">production</a></span> <span class="linktag" title="Add tag"><a href="?addtag=travail">travail</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li>
            <a name="s28WRA" id="s28WRA"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://www.opennicproject.org/">OpenNIC Project</a></span>
                <br>
                <div class="linkdescription">Are you looking for an alternative DNS provider that is open and democratic, are you concerned about censorship?</div>
                
                    <span class="linkdate" title="Short link here"><a href="?s28WRA">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3Fs28WRA&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://www.opennicproject.org/</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=dns">dns</a></span> <span class="linktag" title="Add tag"><a href="?addtag=internet">internet</a></span> <span class="linktag" title="Add tag"><a href="?addtag=reseau">reseau</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li class="publicLinkHightLight">
            <a name="Tgocsw" id="Tgocsw"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://wiki.opennicproject.org/HomePage">OpenNIC Wiki: DNS Wizards</a></span>
                <br>
                <div class="linkdescription">OpenNIC is a user controlled Network Information Center offering a democratic, non-national, alternative to the traditional Top-Level Domain registries.</div>
                
                    <span class="linkdate" title="Short link here"><a href="?Tgocsw">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3FTgocsw&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://wiki.opennicproject.org/HomePage</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=dns">dns</a></span> <span class="linktag" title="Add tag"><a href="?addtag=internet">internet</a></span> <span class="linktag" title="Add tag"><a href="?addtag=r%C3%A9seau">réseau</a></span> <span class="linktag" title="Add tag"><a href="?addtag=viepriv%C3%A9e">vieprivée</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li>
            <a name="9t3MmA" id="9t3MmA"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://www.lameuse.be/734108/article/regions/huy-waremme/actualite/2013-05-30/une-bande-de-jeunes-vit-au-milieu-des-bois-de-modave">Une bande de jeunes vit au milieu des bois de Modave - lameuse.be</a></span>
                <br>
                
                
                    <span class="linkdate" title="Short link here"><a href="?9t3MmA">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3F9t3MmA&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://www.lameuse.be/734108/article/regions/huy-waremme/actualite/2013-05-30/une-bande-de-jeunes-vit-au-milieu-des-bois-de-modave</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=belgique">belgique</a></span> <span class="linktag" title="Add tag"><a href="?addtag=huy">huy</a></span> <span class="linktag" title="Add tag"><a href="?addtag=modave">modave</a></span> <span class="linktag" title="Add tag"><a href="?addtag=yourte">yourte</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li class="publicLinkHightLight">
            <a name="YXFCHg" id="YXFCHg"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://fr.wikipedia.org/wiki/Licorne_rose_invisible">Licorne rose invisible - Wikipédia</a></span>
                <br>
                <div class="linkdescription">La Licorne Rose Invisible (en anglais Invisible Pink Unicorn ou IPU) est la déesse d'une parodie de religion utilisée pour la satire des croyances théistes. L'effet parodique repose entre autres sur l'affirmation paradoxale que la Licorne est à la fois rose et invisible1. Elle est une illustration rhétorique utilisée par les athées et les autres sceptiques religieux comme une version contemporaine de la théière de Russell, parfois mentionnée en liaison avec le Monstre en Spaghetti volant2.</div>
                
                    <span class="linkdate" title="Short link here"><a href="?YXFCHg">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3FYXFCHg&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://fr.wikipedia.org/wiki/Licorne_rose_invisible</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=licorne">licorne</a></span> <span class="linktag" title="Add tag"><a href="?addtag=religion">religion</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li>
            <a name="4MB0EQ" id="4MB0EQ"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://www.supportdontpunish.org/">Support. Don't Punish.</a></span>
                <br>
                <div class="linkdescription">SUPPORT. DON'T PUNISH. is a global advocacy campaign to raise awareness of the harms caused by the criminalisation of people who use drugs.<br />
Logo : <a href="https://www.dropbox.com/s/361w1h9buppvtkn/SDP_French_hi_res_RGB%20.jpg" rel="nofollow">https://www.dropbox.com/s/361w1h9buppvtkn/SDP_French_hi_res_RGB%20.jpg</a></div>
                
                    <span class="linkdate" title="Short link here"><a href="?4MB0EQ">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3F4MB0EQ&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://www.supportdontpunish.org/</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=drogues">drogues</a></span> <span class="linktag" title="Add tag"><a href="?addtag=fedito">fedito</a></span> <span class="linktag" title="Add tag"><a href="?addtag=sant%C3%A9">santé</a></span> <span class="linktag" title="Add tag"><a href="?addtag=sida">sida</a></span> <span class="linktag" title="Add tag"><a href="?addtag=soin">soin</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li class="publicLinkHightLight">
            <a name="KPnBbw" id="KPnBbw"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://www.lalibre.be/debats/opinions/article/821448/polamique-walibi-le-fadaral-devrait-balayer-devant-sa-porte.html">Lalibre.be - Polémique Walibi : &quot;Le fédéral devrait balayer devant sa porte&quot;</a></span>
                <br>
                
                
                    <span class="linkdate" title="Short link here"><a href="?KPnBbw">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3FKPnBbw&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://www.lalibre.be/debats/opinions/article/821448/polamique-walibi-le-fadaral-devrait-balayer-devant-sa-porte.html</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=belgique">belgique</a></span> <span class="linktag" title="Add tag"><a href="?addtag=culture">culture</a></span> <span class="linktag" title="Add tag"><a href="?addtag=mus%C3%A9e">musée</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li>
            <a name="gU2iIQ" id="gU2iIQ"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://www.framablog.org/index.php/post/2013/06/12/logiciel-libre-aider-sans-programmer">Comment aider le logiciel libre quand on ne sait pas coder - Framablog</a></span>
                <br>
                <div class="linkdescription">on peut contribuer au logiciel libre et faire ainsi partie de sa communauté sans être nécessairement un développeur de logiciel libre</div>
                
                    <span class="linkdate" title="Short link here"><a href="?gU2iIQ">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3FgU2iIQ&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://www.framablog.org/index.php/post/2013/06/12/logiciel-libre-aider-sans-programmer</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=communaut%C3%A9">communauté</a></span> <span class="linktag" title="Add tag"><a href="?addtag=contribution">contribution</a></span> <span class="linktag" title="Add tag"><a href="?addtag=logicielslibres">logicielslibres</a></span> <span class="linktag" title="Add tag"><a href="?addtag=support">support</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li class="publicLinkHightLight">
            <a name="XBqPtw" id="XBqPtw"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://idpc.net/fr/alerts/2013/05/soutenez-ne-punissez-pas-reapproprions-nous-le-26-juin-avec-une-campagne-mondiale-de-sensibilisation">« Soutenez. Ne punissez pas »: Réapproprions-nous le 26 Juin avec une campagne mondiale de sensibilisation</a></span>
                <br>
                <div class="linkdescription">l’IDPC a travaillé en collaboration avec l’Alliance Internationale sur le VIH/SIDA, le Réseau International des Usagers de Drogues (INPUD), Harm Reduction International (HRI) et beaucoup d’autres afin de développer « Soutenez. Ne punissez pas » (Support. Don’t Punish), une campagne de plaidoyer internationale pour sensibiliser les gouvernements sur les dommages causés par la pénalisation des usagers de drogues. La campagne s'inscrit dans le cadre du projet « Action communautaire pour la réduction des risques » (CAHR).</div>
                
                    <span class="linkdate" title="Short link here"><a href="?XBqPtw">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3FXBqPtw&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://idpc.net/fr/alerts/2013/05/soutenez-ne-punissez-pas-reapproprions-nous-le-26-juin-avec-une-campagne-mondiale-de-sensibilisation</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=addiction">addiction</a></span> <span class="linktag" title="Add tag"><a href="?addtag=drogue">drogue</a></span> <span class="linktag" title="Add tag"><a href="?addtag=fedito">fedito</a></span> <span class="linktag" title="Add tag"><a href="?addtag=toxicomanie">toxicomanie</a></span> <span class="linktag" title="Add tag"><a href="?addtag=%C3%A9v%C3%A9nement">événement</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li>
            <a name="puRsNw" id="puRsNw"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://www.presse-citron.net/get-lucky-1920-2020">Evolution of Get Lucky</a></span>
                <br>
                <div class="linkdescription">Un musicien français propose une série de reprises de Get Lucky de Daft Punk réinterprété selon les différentes modes musicales des décennies précédentes. Étonnant voyage d’une mélodie dans le temps.</div>
                
                    <span class="linkdate" title="Short link here"><a href="?puRsNw">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3FpuRsNw&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://www.presse-citron.net/get-lucky-1920-2020</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=daftpunk">daftpunk</a></span> <span class="linktag" title="Add tag"><a href="?addtag=musique">musique</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li class="publicLinkHightLight">
            <a name="o9uOHg" id="o9uOHg"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://prism-break.org/">Opt out of PRISM, the NSA's global data surveillance program - PRISM BREAK</a></span>
                <br>
                <div class="linkdescription">Opt out of PRISM, the NSA’s global data surveillance program. Stop reporting your online activities to the American government with these free alternatives to proprietary software.</div>
                
                    <span class="linkdate" title="Short link here"><a href="?o9uOHg">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3Fo9uOHg&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://prism-break.org/</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=alternative">alternative</a></span> <span class="linktag" title="Add tag"><a href="?addtag=logiciel">logiciel</a></span> <span class="linktag" title="Add tag"><a href="?addtag=prism">prism</a></span> <span class="linktag" title="Add tag"><a href="?addtag=surveillance">surveillance</a></span> <span class="linktag" title="Add tag"><a href="?addtag=viepriv%C3%A9e">vieprivée</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li>
            <a name="MUnpQw" id="MUnpQw"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://www.lemonde.fr/international/infographie/2013/06/11/le-programme-prism-en-une-infographie_3427774_3210.html">Comprendre le programme &quot;Prism&quot;</a></span>
                <br>
                <div class="linkdescription">Comprendre Prism en une infographie</div>
                
                    <span class="linkdate" title="Short link here"><a href="?MUnpQw">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3FMUnpQw&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://www.lemonde.fr/international/infographie/2013/06/11/le-programme-prism-en-une-infographie_3427774_3210.html</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=inforgaphie">inforgaphie</a></span> <span class="linktag" title="Add tag"><a href="?addtag=nsa">nsa</a></span> <span class="linktag" title="Add tag"><a href="?addtag=prism">prism</a></span> <span class="linktag" title="Add tag"><a href="?addtag=surveillance">surveillance</a></span> <span class="linktag" title="Add tag"><a href="?addtag=usa">usa</a></span> <span class="linktag" title="Add tag"><a href="?addtag=viepriv%C3%A9e">vieprivée</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li class="publicLinkHightLight">
            <a name="3rUQqA" id="3rUQqA"></a>
            <div class="thumbnail"><a href="https://urban-fonts.s3.amazonaws.com/blog/erif-vs-sans-serif.jpg"><img src="http://liens.effingo.be/?do=genthumbnail&amp;hmac=c9275c4be43c3970ef5af0d00e919a4014e584f49c08dffbdfe6e27f2e395ea8&amp;url=https%3A%2F%2Furban-fonts.s3.amazonaws.com%2Fblog%2Ferif-vs-sans-serif.jpg" width="120" style="height:auto;" alt="thumbnail"></a></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="https://urban-fonts.s3.amazonaws.com/blog/erif-vs-sans-serif.jpg">Serif-vs-sans-serif.jpg (Image JPEG, 600x5323 pixels)</a></span>
                <br>
                
                
                    <span class="linkdate" title="Short link here"><a href="?3rUQqA">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3F3rUQqA&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">https://urban-fonts.s3.amazonaws.com/blog/erif-vs-sans-serif.jpg</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=police">police</a></span> <span class="linktag" title="Add tag"><a href="?addtag=typographie">typographie</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li>
            <a name="NdDVoA" id="NdDVoA"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://www.klaire.fr/2013/06/10/ivre-hadopi-adopte-le-label-pur-foutage-de-gueule/">Ivre, Hadopi adopte le label PUR foutage de gueule | Klaire fait grr</a></span>
                <br>
                <div class="linkdescription">Waouw. Apparemment, des alternatives légales et de qualités au P2P, c'est pas pour demain... Test des sites recommandés par l'HADOPI avec son label &quot;PUR&quot; (sensé orienter les internautes vers des sites légaux de vidéo à la demande - pcq le téléchargement, &quot;c'est mal&quot; -)<br />
Voir également: <a href="http://www.numerama.com/magazine/26200-label-pur-pourquoi-la-hadopi-labellise-aussi-la-nullite.html" rel="nofollow">http://www.numerama.com/magazine/26200-label-pur-pourquoi-la-hadopi-labellise-aussi-la-nullite.html</a></div>
                
                    <span class="linkdate" title="Short link here"><a href="?NdDVoA">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3FNdDVoA&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://www.klaire.fr/2013/06/10/ivre-hadopi-adopte-le-label-pur-foutage-de-gueule/</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=hadopi">hadopi</a></span> <span class="linktag" title="Add tag"><a href="?addtag=pur">pur</a></span> <span class="linktag" title="Add tag"><a href="?addtag=streaming">streaming</a></span> <span class="linktag" title="Add tag"><a href="?addtag=t%C3%A9l%C3%A9chargement">téléchargement</a></span> <span class="linktag" title="Add tag"><a href="?addtag=vid%C3%A9o">vidéo</a></span> <span class="linktag" title="Add tag"><a href="?addtag=vod">vod</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li class="publicLinkHightLight">
            <a name="TN06wA" id="TN06wA"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://graphism.fr/apprenez-les-6-mouvements-les-importants-de-lhistoire-du-design-avec-lopen-university">Apprenez les 6 mouvements les plus importants de l’histoire du design avec l’Open University ! | Graphisme &amp; interactivité blog par Geoffrey Dorne</a></span>
                <br>
                
                
                    <span class="linkdate" title="Short link here"><a href="?TN06wA">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3FTN06wA&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://graphism.fr/apprenez-les-6-mouvements-les-importants-de-lhistoire-du-design-avec-lopen-university</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=design">design</a></span> <span class="linktag" title="Add tag"><a href="?addtag=graphisme">graphisme</a></span> <span class="linktag" title="Add tag"><a href="?addtag=histoire">histoire</a></span> 
                    </div>
                
            </div>
        </li>
    
        <li>
            <a name="NU9u-A" id="NU9u-A"></a>
            <div class="thumbnail"></div>
            <div class="linkcontainer">
                
                <span class="linktitle"><a href="http://blog.surf-prevention.com/2013/06/09/la-noyade-ne-ressemble-pas-a-une-noyade/">La Noyade ne ressemble pas à une Noyade | Surf Prévention</a></span>
                <br>
                
                
                    <span class="linkdate" title="Short link here"><a href="?NU9u-A">permalink</a> - </span>
                
                <div style="position:relative;display:inline;"><a href="http://invx.com/code/qrcode/?code=http%3A%2F%2Fliens.effingo.be%2F%3FNU9u-A&width=200&height=200" 
                    onclick="return false;" class="qrcode"><img src="images/qrcode.png" width="13" height="13" title="QR-Code"></a></div> - 
                <span class="linkurl" title="Short link">http://blog.surf-prevention.com/2013/06/09/la-noyade-ne-ressemble-pas-a-une-noyade/</span><br>
                
                    <div class="linktaglist">
                    <span class="linktag" title="Add tag"><a href="?addtag=assistance">assistance</a></span> <span class="linktag" title="Add tag"><a href="?addtag=mer">mer</a></span> <span class="linktag" title="Add tag"><a href="?addtag=nage">nage</a></span> <span class="linktag" title="Add tag"><a href="?addtag=noyade">noyade</a></span> <span class="linktag" title="Add tag"><a href="?addtag=s%C3%A9curit%C3%A9">sécurité</a></span> 
                    </div>
                
            </div>
        </li>
    
    </ul>

    <div class="paging">

    <div id="paging_linksperpage">
        Links per page: <a href="?linksperpage=20">20</a> <a href="?linksperpage=50">50</a> <a href="?linksperpage=100">100</a>
        <form method="GET" style="display:inline;" class="linksperpage"><input type="text" name="linksperpage" size="2" style="height:15px;"></form>
    </div>
     <a href="?page=2" id="paging_older">&#x25C4;Older</a> 
    <div id="paging_current">page 1 / 206 </div>
    
</div>

</div>

    <div id="footer">
    <b><a href="http://sebsauvage.net/wiki/doku.php?id=php:shaarli">Shaarli 0.0.41 beta</a></b> - The personal, minimalist, super-fast, no-database delicious clone. By <a href="http://sebsauvage.net" target="_blank">sebsauvage.net</a>.
</div>
<div id="piwik">
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://effingo.be/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "3"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
</div>





    
<script>
$(document).ready(function() {
	$('a.qrcode').click(function(){
	  hide_qrcode();
	  var link = $(this).attr('href');
	  $(this).after('<div class="qrcode" onclick="hide_qrcode();return false;"><img src="'+link+'" width="200" height="200"><br>click to close</div>');
	});
});
function hide_qrcode() { $('div.qrcode').remove(); }
</script>

</body>
</html>